*{
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.cards{
    height: 500px;
    width: 80px;
    border-radius: 65px;
    background-color: aqua;
    margin: 5px;
    margin-top: 80px;
    transition: .8s;
}

.card1{
    background-color: rgb(88, 88, 202);
    transition: .8s;
    
    height: 500px;
    width: 700px;
    border-radius: 65px;
    margin: 5px;
    margin-top: 80px;
}